<div class="row p-3">
  <div class="col-md-12">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between pb-0">
        <div class="card-title mb-0">
          <h3><b>Vendeur</b></h3>
        </div>
        <div class="card p-3 menu-item">
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-primary">
                <i class='menu-icon bx bxs-calendar'></i>
              </span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2 dropdown">
                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h6 class="mb-0">Filtre Periode</h6>
                </button><br>
                <small class="text-muted">12 avril 2023 - 15 janvier 2024</small>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                  <div class="card p-3">
                    <table>
                      <tr>
                        <th *ngFor="let day of weekDays">{{ day }}</th>
                      </tr>
                      <tr *ngFor="let week of weeks">
                        <td *ngFor="let day of week" (click)="selectDate(day)">
                          <p *ngIf="day !== 0">{{ day }}</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
      <div class="row mt- p-3">
        <!-- Cards go here -->
      </div>
    </div>
  </div>
</div>

<div class="row p-3">
  <div class="col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-3 mt-2">
          <h5 class="card-header">List Des Vendeur</h5>
        </div>
        <div class="col-9 mt-2 p-3">
          <div class="navbar-nav align-items-left">
            <div class="nav-item d-flex align-items-left">
              <div class="input-group" style="margin-right: 5px;">
                <div class="nav-item d-flex align-items-center">
                  <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..." [(ngModel)]="searchText" (input)="onSearch()" />
                  <i class="bx bx-search fs-4 lh-0"></i>
                </div>
                <button class="btn btn-outline-secondary" type="button" (click)="clearSearch()">Effacer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Identifiant</th>
              <th>Nom et Prenom</th>
              <th>Adresse</th>
              <th>Telephone</th>
              <th>E-mail</th>
              <th>Tax(dt)</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0" *ngFor="let vendeur of vendeurs">
            <tr>
              <td>{{ vendeur.id }}</td>
              <td>{{ vendeur.title }}</td>
              <td>{{ vendeur.adresse }}</td>
              <td>{{ vendeur.telephone }}</td>
              <td>{{ vendeur.email }}</td>
              <td>{{ vendeur.taxe }}</td>
              <td><span class="badge bg-label-primary rounded me-1"><strong>En ligne</strong></span></td>
              <td>
                <button mat-icon-button aria-label="Example icon button with a home icon" (click)="onedit(vendeur.id)">
                  <mat-icon style="color: orange">update</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon style="color: red">block</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
