
<mat-dialog-content>
    <form [formGroup]="form">  
        <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <h2 align="center" class="modal-title" id="backDropModalTitle">Informations De Vendeur</h2>
        <div class="row">
          <div class="col-6 mb-0">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Identifiant CIN</mat-label>
              <input matInput placeholder="Identifiant" formControlName="identifiant" class="form-control">
            </mat-form-field>
          </div>
          <div class="col-6 mb-0">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nom Et Prénom </mat-label>
              <input matInput placeholder="NomPrenom" formControlName="NomPrenom" class="form-control">
            </mat-form-field>
          </div>
        </div> 
        <div class="row">
          <div class="col-6 mb-0">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Adresse</mat-label>
              <input matInput placeholder="adresse" formControlName="adresse" class="form-control">
            </mat-form-field>
          </div>
          <div class="col-6 mb-0">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Télephone</mat-label>
              <input matInput placeholder="Telephone" formControlName="telephone" class="form-control">
            </mat-form-field>
          </div>
        </div> 
        <div class="row">
            <div class="col-6 mb-0">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" class="form-control">
              </mat-form-field>
            </div>
            <div class="col-6 mb-0">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>taxe</mat-label>
                <input matInput placeholder="Taxe" formControlName="taxe" class="form-control">
              </mat-form-field>
            </div>
          </div> 
      </div>
    </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="col-3"></div>
      <div class="col-6 custom-button-group">
          <button type="button" class="btn btn-primary" style="background-color: orange; color: white;"(click)="save()" >
            Save
          </button>
          
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
        </div>
        
        <style>
        .custom-button-group button {
          
          margin-right: 20px; /* Ajustez la marge comme nécessaire */
        }
        </style>
        
      <div class="col-3"></div>
    </mat-dialog-actions>
    