

  .card {
    margin: 5;
}
.card img {
    max-height: 200px;
    object-fit: cover;
}
.card-body {
    text-align: start;
}
.btn-warning, .btn-danger {
    margin-left: 50px;
}
.profile-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 135px;
    left: 15px;
}
.card-title {
    margin-top: 30px;
}
